[submodule "external/buildroot"]
	path = external/buildroot
	url = https://github.com/libre-computer-project/libretech-buildroot
[submodule "external/uboot"]
	path = external/uboot
	url = https://github.com/smalinux/libretech-builder-simple
